.Table{
    min-width: 1920px;
    min-height: 1080px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.Form{
    margin-top: 340px;
    width: 400px;
    min-height: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #f8f9fa;

}

.Form div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    gap: 20px;
}

.Form div input {
    width: 250px;
    height: 20px;
    color: black;
}

.Arrow{
    position: absolute;
    right: 4px;
    top: -54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 52px;
    height: 42px;
}

.Arrow img{
    width: 28px;
    height: 28px;
}